html{
width:100%;
/*overflow-x:hidden;*/
}
body {
  margin: auto;
  padding: 0;
  /*overflow-x: hidden;*/
  /*cursor: url('/static/img/sword_art_online_2.jpg');*/
  width: inherit;
  /*min-width: 500px;*/
  /*background-image: url("/static/img/sword_art_online_2.jpg");*/
  
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.col-link-item {
  display: block;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 15px;

}

