#carousel-index {
  margin-bottom: 20px;
}

.marketing h2 {
  font-weight: auto;
}

.row a{
  text-decoration-line: none;
}

.col-link-item {
  /*display: block;*/
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 15px 0;
  margin-bottom: 20px;
  text-align: center;
}

.col-link-item p {
  margin-right: 10px;
  margin-left: 10px;

}

.col-link-item img {
  width: 60px;
  height: 60px;
}


@media (min-width: 768px)  {
  #carousel-index {
    margin-bottom: 60px;
  }
  .col-link-item img {
    width: 120px;
    height: 120px;
  }
  .row {
    margin-left: auto;
  }
}

/*very large 
do not consider now*/
@media (min-width: 1200px) {
  /*#carousel-index {
    margin-bottom: 80px;
  }
  .carousel-inner.active {
    margin-left: auto;
  }*/
}